button {
    display: inline-block;
    color: color('blue', 'font');
    background-color: color('blue', 'base');
    border-radius: radius('tiny');
    box-shadow: $box-shadow;
    @extend .p-1;
}

button:hover {
    background-color: color('blue', 'dark');
    cursor: pointer;
}

@each $key, $color in $colors {
    @if $key != 'black' and $key != 'white' and $key != 'gray' and $key != 'blue' {
        button.bg-#{$key} {
            color: color($key, 'font');
            background-color: color($key, 'base');
        }

        button.bg-#{$key}:hover {
            background-color: color($key, 'dark');
        }
    }
}

button.top {
    position: fixed;
    right: spacer('2');
    bottom: spacer('2');
    display: block;
    width: 2rem;
    height: 2rem;
}

@each $key, $type in $types {
    button.bg-#{$key} {
        color: type($key, 'font');
        background-color: type($key, 'color');
    }

    button.bg-#{$key}:hover {
        background-color: darken(type($key, 'color'), $darken-amount);
    }
}

button.link {
    color: color('blue', 'base');
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    @extend .p-0;
}

button.link:hover {
    color: color('blue', 'dark');
}

@each $key, $color in $colors {
    @if $key != 'black' and $key != 'white' and $key != 'gray' and $key != 'blue' {
        button.text-#{$key} {
            color: color($key, 'base');
        }

        button.text-#{$key}:hover {
            color: color($key, 'dark');
        }
    }
}

@each $key, $type in $types {
    button.text-#{$key} {
        color: type($key, 'color');
    }

    button.text-#{$key}:hover {
        color: darken(type($key, 'color'), $darken-amount);
    }
}
