main {
    @extend .p-2;
}

.container-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.field-search {
    display: inline-block;
    width: 30rem;
    height: 2rem;
}

.team-item {
    @extend .p-2;
    display: grid;
    grid-template-areas: 'item-title item-gen item-rating';
    grid-template-columns: repeat(3, 1fr);
}

.item-title {
    grid-area: item-title;
}

.item-gen {
    grid-area: item-gen;
    text-align: center;
}

.item-rating {
    grid-area: item-rating;
    text-align: right;
}

.container-gens {
    @extend .mb-3;
}

.gens-title {
    font-size: size('xx-large');
}

.container-gens-cards {
    display: flex;
}

.team-card {
    @extend .p-3;
    @extend .mr-2;
    @extend .mb-2;
    background: color('white', 'base');
    box-shadow: $box-shadow;
    display: grid;
    grid-template-areas: 
        'card-title card-gen'
        'card-pokemon card-pokemon'
        'card-rating card-rating';
    border-radius: radius('tiny');
    width: 300px;
}

.card-title {
    grid-area: card-title;
    font-size: size('large');
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
}

.card-gen {
    grid-area: card-gen;
    font-size: size('large');
    text-align: right;
}

.card-pokemon {
    grid-area: card-pokemon;
}

.card-rating {
    grid-area: card-rating;
}

.pokemon-icon {
    display: inline-block;
    @extend .p-1;
}

.team-subcontent {
    display: flex;
}

.slot-gen {
    @extend .mr-2;
}

.container-team-slots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.team-slot {
    @extend .p-3;
    @extend .mr-2;
    @extend .mb-2;
    background: color('white', 'base');
    box-shadow: $box-shadow;
    border-radius: radius('tiny');
}

.slot-name {
    font-size: size('heading');
}

.slot-role {
    font-size: size('large');
}

.slot-pokemon {
    display: grid;
    grid-template-areas:
        'cell-image cell-arrow cell-image-mega';
    @extend .mb-3;
}

.cell-image {
    grid-area: cell-image;
    @extend .mb-2;
}

.cell-arrow {
    grid-area: cell-arrow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-image-mega {
    grid-area: cell-image-mega;
}

.cell-types {
    @extend .mb-2;
}

.slot-nature,
.slot-effort-values,
.slot-individual-values {
    @extend .mb-3;
}

.slot-title {
    font-size: size('small');
    color: color('gray', '500');
    @extend .mb-2;
}

ul.effort-values,
ul.individual-values,
ul.moves {
    list-style: none;
}

ul.effort-values li,
ul.individual-values li,
ul.moves li {
    display: inline;
    @extend .mr-1;
}

ul.effort-values li+li:before,
ul.individual-values li+li:before,
ul.moves li+li:before {
    color: color('gray', '900');
    content: '/\00a0';
}

.slot-moves-item {
    display: grid;
    grid-template-areas:
        'cell-moves cell-moves cell-item';
    @extend .mt-3;
}

.cell-moves {
    grid-area: cell-moves;
}

.cell-moves
ul.moves {
    @extend .mb-2;
}

.cell-item {
    grid-area: cell-item;
}